In [840]:
import pandas as pd
df_train = pd.read_csv('clean_train.csv')
y = df_train['Survived']
df_train = df_train.drop(columns=['Survived'])
df_test = pd.read_csv('clean_test.csv')
df_train.head()

,Pclass,Age,SibSp,Parch,Fare,TicketDigits,nanAge,nanFare,nanEmbarked,nanCabinLetter,...,FirstName_Yousseff,FirstName_of,CabinLetter_A,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F,CabinLetter_G,CabinLetter_T
0,3,22.0,1,0,7.2500,21171,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,38.0,1,0,71.2833,17599,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,26.0,0,0,7.9250,3101282,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,35.0,1,0,53.1000,113803,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,3,35.0,0,0,8.0500,373450,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [841]:
def print_moderate_correlations(df, col_to_correlate):
    cols = df[df.columns].corr().columns
    if df[col_to_correlate].dtype.name == 'category':
        df[col_to_correlate] = df[col_to_correlate].cat.codes
    corrs = df[df.columns].corr()[col_to_correlate]
    for col, corr in zip(cols, corrs):
        if abs(corr) >= 0.1 and col != col_to_correlate:
            print(col, ': ', corr)

In [842]:
df_train['Survived'] = y
print_moderate_correlations(df_train, 'Survived')
df_train = df_train.drop(columns=['Survived'])

Pclass :  -0.33848103596101586
Parch :  0.08162940708348222
Fare :  0.2573065223849618
TicketDigits :  -0.115156746957067
isAlone :  -0.2033670856998897
is_french :  0.07364228638655194
is_religious :  -0.06498765565557524
is_nobility :  0.0505614454248609
Sex_female :  0.5433513806577526
Sex_male :  -0.5433513806577526
Embarked_C :  0.16824043121823343
Embarked_S :  -0.14968272327068607
LastName_Asplund :  0.050561445424861816
LastName_Baclini :  0.08508270816321468
LastName_Beane :  0.060094847378357096
LastName_Becker :  0.060094847378357685
LastName_Beckwith :  0.06009484737835756
LastName_Bishop :  0.0600948473783575
LastName_Brown :  0.05056144542486166
LastName_Caldwell :  0.060094847378357845
LastName_Chambers :  0.0600948473783568
LastName_Coutts :  0.06009484737835739
LastName_Daly :  0.06009484737835714
LastName_Dick :  0.060094847378356846
LastName_Doling :  0.06009484737835781
LastName_Duff Gordon :  0.06009484737835707
LastName_Ford :  -0.053002342790198075
LastName_Frauenthal :  0.06009484737835742
LastName_Goldenberg :  0.06009484737835723
LastName_Goodwin :  -0.06498765565557563
LastName_Gustafsson :  -0.05300234279019748
LastName_Hamalainen :  0.060094847378357574
LastName_Harper :  0.05056144542486029
LastName_Hays :  0.06009484737835746
LastName_Herman :  0.060094847378356964
LastName_Hippach :  0.060094847378357436
LastName_Kelly :  0.05056144542486092
LastName_Lefebre :  -0.05300234279019785
LastName_McCoy :  0.06009484737835748
LastName_Mellinger :  0.06009484737835753
LastName_Moor :  0.06009484737835675
LastName_Moubarek :  0.060094847378357866
LastName_Murphy :  0.060094847378357574
LastName_Nakid :  0.060094847378357345
LastName_Nicola-Yarred :  0.06009484737835791
LastName_Palsson :  -0.05300234279019805
LastName_Panula :  -0.06498765565557536
LastName_Peter :  0.06009484737835777
LastName_Quick :  0.06009484737835715
LastName_Rice :  -0.05929185283871714
LastName_Richards :  0.07364228638655172
LastName_Ryerson :  0.060094847378357456
LastName_Sage :  -0.07023438247444562
LastName_Sandstrom :  0.06009484737835796
LastName_Skoog :  -0.06498765565557535
LastName_Taylor :  0.06009484737835688
LastName_Wick :  0.060094847378357456
Title_Master :  0.0852205608392934
Title_Mlle :  0.060094847378356936
Title_Mr :  -0.5491991849030061
Title_Mrs :  0.3390402513843243
Title_Ms :  0.3299478186475593
Title_Rev :  -0.06498765565557524
FirstName_Alfred :  -0.07023438247444523
FirstName_Alice :  0.06428485097250423
FirstName_Amelia :  0.07364228638655164
FirstName_Anna :  0.12798529722217367
FirstName_Bertha :  0.0850827081632155
FirstName_Carl :  0.07364228638655179
FirstName_Daniel :  -0.053002342790198206
FirstName_David :  -0.05300234279019781
FirstName_Dickinson :  0.0600948473783575
FirstName_Elizabeth :  0.1205973489336645
FirstName_Ellen :  0.05056144542486161
FirstName_Elmer :  0.06009484737835688
FirstName_Elsie :  0.06009484737835738
FirstName_Emily :  0.06009484737835788
FirstName_Ernest :  -0.06498765565557531
FirstName_Frederic :  0.06009484737835744
FirstName_Hans :  -0.05300234279019842
FirstName_Helen :  0.05056144542486187
FirstName_Johan :  -0.06218156523146796
FirstName_Joseph :  -0.056649229918013015
FirstName_Kate :  0.07364228638655168
FirstName_Katherine :  0.07364228638655167
FirstName_Madeleine :  0.060094847378357616
FirstName_Margaret :  0.10432228934184416
FirstName_Marie :  0.06009484737835744
FirstName_Marjorie :  0.060094847378357595
FirstName_Mary :  0.06926273991974904
FirstName_Nils :  -0.053002342790197936
FirstName_Norman :  0.0600948473783568
FirstName_Patrick :  -0.05300234279019813
FirstName_Susan :  0.06009484737835778
CabinLetter_B :  0.17509503365047693
CabinLetter_C :  0.11749469908921023
CabinLetter_D :  0.15071564423048353
CabinLetter_E :  0.14532144323642776
CabinLetter_F :  -0.30719724392996994

In [843]:
def remove_weak_correlations(df1: pd.DataFrame, df2, y, weak_threshold: float = 0.1) -> pd.DataFrame:
    """
    Removes weak correlations
    :param df: pandas DataFrame to remove columns from.
    :param col_to_correlate: String column name to check correlation with
    :param weak_threshold: float number that counts as an absolute weak threshold
    :return: pandas DataFrame without the columns weakly correlated to target
    """
    col_to_correlate = 'PREDICTOR_TO_CHECK_WEAK_CORRS'
    df1[col_to_correlate] = y
    cols = df1[df1.columns].corr().columns
    corrs = df1[df1.columns].corr()[col_to_correlate]
    strongly_correlated = list()
    for col, corr in zip(cols, corrs):
        if abs(corr) >= weak_threshold and col != col_to_correlate:
            strongly_correlated.append(col)
    df1 = df1.drop(columns=[col_to_correlate])
    for col in df1.columns:
        if col not in strongly_correlated:
            df1.drop(columns=[col], inplace=True)
            df2.drop(columns=[col], inplace=True)
    return df1, df2

In [844]:
def get_rid_feature(df, df2, feat):
    for column in df_train:
        if column.startswith(feat):
            df_train.drop(columns=[column], inplace=True)
            df_test.drop(columns=[column], inplace=True)
    return df_train, df_test

In [845]:
df_train, df_test = remove_weak_correlations(df_train, df_test, y)

In [846]:
# df_train, df_test = get_rid_feature(df_train, df_test, 'Parch')
# df_train, df_test = get_rid_feature(df_train, df_test, 'LastName')
# df_train, df_test = get_rid_feature(df_train, df_test, 'FirstName')
# df_train, df_test = get_rid_feature(df_train, df_test, 'Sex_male')
# df_train, df_test = get_rid_feature(df_train, df_test, 'SibSp')
# df_train, df_test = get_rid_feature(df_train, df_test, 'Fare')
# df_train, df_test = get_rid_feature(df_train, df_test, 'Age')

In [847]:
df_train.head()

,Pclass,Fare,TicketDigits,isAlone,Sex_female,Sex_male,Embarked_C,Embarked_S,Title_Mr,Title_Mrs,Title_Ms,FirstName_Anna,FirstName_Elizabeth,FirstName_Margaret,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F
0,3,7.2500,21171,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1
1,1,71.2833,17599,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0
2,3,7.9250,3101282,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
3,1,53.1000,113803,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0
4,3,8.0500,373450,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1

In [ ]:
def print_moderate_correlations(df, col_to_correlate):
    cols = df[df.columns].corr().columns
    if df[col_to_correlate].dtype.name == 'category':
        df[col_to_correlate] = df[col_to_correlate].cat.codes
    corrs = df[df.columns].corr()[col_to_correlate]
    for col, corr in zip(cols, corrs):
        if abs(corr) > 0.1 and col != col_to_correlate:
            print(col, ': ', corr)

In [ ]:
# df_train, df_test = get_rid_feature(df_train, df_test, 'CabinLetter')

In [ ]:
df_train.head()

,Pclass,Fare,TicketDigits,isAlone,Sex_female,Sex_male,Embarked_C,Embarked_S,Title_Mr,Title_Mrs,Title_Ms,FirstName_Anna,FirstName_Elizabeth,FirstName_Margaret,CabinLetter_B,CabinLetter_C,CabinLetter_D,CabinLetter_E,CabinLetter_F
0,3,7.2500,21171,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1
1,1,71.2833,17599,0,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0
2,3,7.9250,3101282,1,1,0,0,1,0,0,1,0,0,0,0,0,0,0,1
3,1,53.1000,113803,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0
4,3,8.0500,373450,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split

x = df_train.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10, random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [ ]:
import numpy as np
X = np.concatenate((x_train, x_test), axis=0)
Y = np.concatenate((y_train, y_test), axis=0)

In [ ]:
from sklearn.model_selection import cross_val_score

def evaluate_classifier(clf, x, y):
    scores = cross_val_score(gb_clf, x, y, cv=10)
    print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [ ]:
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier

gb_clf = GradientBoostingClassifier(criterion='friedman_mse', init=None,
             learning_rate=0.05, max_depth=3,
             max_features='sqrt', max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=15, min_samples_split=10,
             min_weight_fraction_leaf=0.0, n_estimators=12000,
             presort='auto', subsample=1.0, verbose=0,
             warm_start=False)

evaluate_classifier(gb_clf, X, Y)

Accuracy: 0.79 (+/- 0.04)

In [ ]:
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier

gb2_clf = GradientBoostingClassifier(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   random_state = 5)

evaluate_classifier(gb2_clf, X, Y)

Accuracy: 0.79 (+/- 0.05)

In [ ]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression(penalty='l2', tol=0.0001, solver='lbfgs',
                           C=1, fit_intercept=True, intercept_scaling=1.0, 
                           class_weight=None, random_state=None)

evaluate_classifier(lr_clf, X, Y)

In [ ]:
from sklearn.neural_network import MLPClassifier

mlp_clf = MLPClassifier(max_iter=1000, hidden_layer_sizes=(100,10), learning_rate='adaptive')

evaluate_classifier(mlp_clf, x_train, y_train)

In [ ]:
df_sub = pd.read_csv('gender_submission.csv')
df_sub.head()

In [ ]:
sub_model = gb_clf

In [ ]:
gb_clf.fit(X, Y)

In [ ]:
from sklearn.model_selection import cross_val_predict
df_sub['Survived'] = gb_clf.predict(df_test.values)
df_sub.to_csv('submission.csv', index=False)